.container {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  margin-top: -5rem;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image {
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;
  top: 15rem;
  left: 5rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1rem;
}

.p {
  width: 40rem;
}
